.structure{
  position: relative;
  width: 20%;
  height: 350px;
}

.structure__bottomBar{
  width: 80%;
  height: 3%;
  position: absolute;
  content: "";
  bottom: 0;
  left: 12%;
  background-color: aliceblue;
  border-radius: 5px;
}

.structure__middleBar{
  width: 5%;
  height: 100%;
  position: absolute;
  content: "";
  left: 50%;
  background-color: aliceblue;
  border-radius: 5px;
}

.structure__topBar{
  width: 50%;
  height: 3%;
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  background-color: aliceblue;
  border-radius: 5px;
}

.structure__hangBar{
  width: 5%;
  height: 20%;
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background-color: aliceblue;
  border-radius: 5px;
}

.structure__bodyparts{
  width: 50%;
  height: 70%;
  position: absolute;
  border: 2px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  right: -22%;
  top: 20%;
}

.structure__head{
  width: 50%;
  height: 30%;
  position: absolute;
  top: 0;
  left: 28%;
  border: 3px solid aliceblue;
  border-radius: 50%;
}

.structure__body{
  width: 3px;
  height: 40%;
  position: absolute;
  top: 30%;
  left: 50%;
  background-color: aliceblue;
}

.structure__rightArm{
  width: 35%;
  height: 3px;
  position: absolute;
  top: 30%;
  left: 50%;
  background-color: aliceblue;
  transform: rotate(-30deg);
}

.structure__leftArm{
  width: 35%;
  height: 3px;
  position: absolute;
  top: 30%;
  left: 17%;
  background-color: aliceblue;
  transform: rotate(30deg);
}

.structure__rightleg{
  width: 35%;
  height: 3px;
  position: absolute;
  top: 75%;
  left: 50%;
  background-color: aliceblue;
  transform: rotate(30deg);
}

.structure__leftleg{
  width: 35%;
  height: 3px;
  position: absolute;
  top: 75%;
  left: 17%;
  background-color: aliceblue;
  transform: rotate(-30deg);
}



@media (max-width:1200px){
  .structure{
    width: 30%;
    height: 300px;
  }
}
@media (max-width:900px){
  .structure{
    width: 40%;
    height: 300px;
  }
}
@media (max-width:600px){
  .structure{
    width: 50%;
    height: 300px;
  }
}

@media (max-width:550px){
  .structure{
    align-self: start;
    margin-left: 3rem;
    width: 60%;
    height: 250px;
  }

  
}