@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
}

body{
  background: linear-gradient(to bottom right, rgb(75, 75, 75), rgb(25, 25, 25));
  color: white;
  width: 100%;
  min-height: 100vh;
}